.todoStrikeThrough {
  text-align: center;
}
.todoInputActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.todoInputActions > input {
  background: #618ffa;
  border-radius: 0.3rem;
}
.todoInputActions > button {
  cursor: pointer;
  background: #d9dffc;
}
.todoBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9dffc;
  border-radius: 0.3rem;
}
.todoList {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
.todoList-Task {
  width: 70%;
  word-wrap: break-word;
}

.todoList-Icons {
  height: 100%;
  display: flex;
  padding: 0.2rem;
}
/* mobileScreen */
@media screen and (max-width: 600px) {
  .todoList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .todoList-Task {
    margin: 0 1rem;
  }
  .todoList-Icons {
    margin: 0 1rem;
  }
}
