.tabsContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f9f9;
}
.tabs {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.twitterToast {
  width: 40vw;
  height: 30vh;
  /* border: 1px solid #3333ff; */
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.tab1 {
  /* background: red; */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab2 {
  /* background: green; */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab3 {
  /* background: blue; */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
