.twitter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.twitterContents {
  border: 1px solid black;
}
.alertText {
  min-height: 1.5rem;
  font-weight: 500;
  color: red;
  margin: 0;
}
