.twitter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertText {
  min-height: 1.5rem;
  font-weight: 500;
  color: red;
}
.twitterTextArea textarea {
  background: #f0f9f9;
  border: 1px solid #3333ff;
  border-radius: 0.3rem;
}
