.showHide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.showHideContent {
  border: 1px solid black;
  padding: 0.8rem 1.22rem;
  border-radius: 0.3rem;
}
.showHideForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showHideForm > input {
  border: 2px solid rgb(52, 52, 76);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px grey;
  background: #ddf8f7;
  color: black;
  margin-left: 0.5rem;
}
.eyeButton {
  font-size: large;
  border: none;
  background: none;
  cursor: pointer;
}
