.passwordMatch {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.passwordMatchContents {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #abddddd6;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
}
