.passwordMatch {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.passwordMatchContents {
  border: 1px solid #3333ff;
  background: #f0f9f9;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
}
