.passwordMatch {
  width: 50vw;
  background: rgb(122, 122, 219);
  margin: 0 auto;
  border-radius: 0.5rem;
}
div .inputs {
  width: 80%;
  background: rgb(130, 179, 130);
  margin: 0 auto;
  border-radius: 0.5rem;
}
