.toastComponent {
  text-align: center;
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #d3eeee;
  border-radius: 5px;
}
.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f9f9;

  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 1rem;
}
