.project_tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.8rem;
  justify-content: center;
  background: #90e0ef;
}
.project {
  background: #caf0f8;
  text-align: center;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 25%;
}
.project a {
  text-decoration: none;
  font-weight: bold;
  color: #023047;
}
.project a :hover {
  color: #3a86ff;
}
