.main {
  width: 40vw;
  margin: 0 auto;
  margin-top: 20vh;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.counterButton {
  font-weight: 600;
  padding: 0.2rem 0.7rem;
  margin: 0.5rem;
  background: #99eae6;
  box-shadow: 2px 2px 4px blue;
  border: 0.2rem solid rgb(18, 18, 21);
  cursor: pointer;
}

.counterLine {
  color: rgb(15, 15, 243);
}
.backButton {
  font-weight: 600;
  padding: 0.2rem 0.7rem;
  margin: 0.5rem;
  background: #99eae6;
  box-shadow: 2px 2px 4px blue;
  border: 0.2rem solid rgb(18, 18, 21);
  cursor: pointer;
}
