.counter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainContainer {
  width: 30vw;
  border: 1px solid #3333ff;
  background: #f0f9f9;
  padding: 0 1.5rem;
  border-radius: 0.3rem;
}
.countButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.counterLine {
  color: rgb(15, 15, 243);
}
.backButton {
  font-weight: 600;
  padding: 0.2rem 0.7rem;
  margin: 0.5rem;
  background: #99eae6;
  box-shadow: 2px 2px 4px blue;
  border: 0.2rem solid rgb(18, 18, 21);
  cursor: pointer;
}
