.disable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.disable-title {
  text-align: center;
  margin: 0;
  margin-bottom: 1.5rem;
}
.disablePasswordButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3333ff;
  border-radius: 0.3rem;
  background: #f0f9f9;
  padding: 1rem 1.5rem;
}
