.App {
  text-align: center;
}

a {
  text-decoration: none;
}
.btn {
  background: #c5d6fc;
  border-radius: 0.3rem;
  border: 1px solid #ccccf5;
  padding: 4px 8px;
  box-shadow: 2px 3px 4px grey;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #6262d4;
}
.inputs {
  display: flex;
}
.inputsLabel {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  text-align: left;
}
.inputsInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
}

.inputsInput > input {
  border: 1px solid rgb(52, 52, 76);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px grey;
  background: #ddf8f7;
  color: black;
  margin-left: 0.5rem;
  text-indent: 5px;
}

.wrapperContainer {
  display: flex;
  flex-direction: column;
}

.appHeader {
  display: flex;
}
.wrapperHeading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapperButton {
  font-size: 1.2rem;
  font-weight: 600;
  color: blue;
  border-radius: 0.3rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .wrapperHeading {
    font-size: 1.5rem;
  }
  .wrapperButton {
    font-size: 1rem;
  }
}
